{% extends "base.html" %}

{% block title %}
    Tijdbesteding
        {% if mode == 'toevoegen' %}
            toevoegen
        {% else %}
            bewerken
        {% endif %}
    | Timesheet HFM{% endblock %}

{% block content %}
<div id="">
  {% if form.errors %}
  {% for error in form.errors %}
      {{ error }}
  {% endfor %}
  {% endif %}
  <form method="post" action="">
  {% csrf_token %}
  <table id="form-table-header">
    <tr>
      <td>
	Tijdbesteding
        {% if mode == 'toevoegen' %}
            toevoegen
        {% else %}
            bewerken
        {% endif %}
      </td>
    </tr>
  </table>
  <table id="form-table-content">
    <tr>
      <td><label for="id_titel">Titel</label></td>
      <td>{{form.titel}}</td>
    </tr>
    <tr>
      <td><label for="id_beschrijving">Beschrijving</label></td>
      <td>{{form.beschrijving}}</td>
    </tr>
    <tr>
      <td><label for="id_project">Tijdbesteding</label></td>
      <td>{{form.tijdbesteding}}</td>
    </tr>
    <tr>
      <td><label for="id_deadline">Deeltaak</label></td>
      <td>{{form.deeltaak}}</td>
    </tr>
  </table>
  <input type="submit" value="submit" />
  </form>
</div>
{% endblock %}

